@import "../../styles/colors.scss";

.inputDefault {
  border: 1px solid $primaryLight;
  line-height: 40px;
  border-radius: 4px;
  padding: 0px 8px;
  &:focus{
    outline-color: $primaryLight;
  }
}