@import "./colors.scss";

* {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background: $background;
}
button {
  background-color: $primary;
  color: $white;
  border-radius: 8px;
  border: initial;
  font-size: 16px;
  cursor: pointer;
  line-height: 60px;
  &:hover {
    opacity: 0.9;
  }
  &:disabled{
    background-color: $disabledBackground;
    color: $disabledColor;
    &:hover{
      opacity: 1;
    }
  }
}
