@import "../../styles/colors.scss";

.header{
  background-color: $primary;
  display: flex;
  flex-direction: column;
  border-top: 40px solid $primaryDark;
  align-items: center;
  padding: 20px;
  img{
    margin-bottom: 20px;
  }
  h1{
    color: $white;
    font-size: 20px;
  }
}